# API
VITE_BACKEND_URL=https://wishllebackend-production.up.railway.app
VITE_DIRECTUS_URL=https://directus-production-5c4b.up.railway.app

# Telegram Web Login → BotFather → Bot Settings → Web Login
VITE_TG_CLIENT_ID=8624605092

# Має ПОВНІСТЮ збігатися з Redirect URI у BotFather і TELEGRAM_REDIRECT_URI на бекенді
VITE_TG_REDIRECT_URI=https://wishlle-4isp.vercel.app/auth/callback
