VITE_BACKEND_URL=https://wishllebackend-production.up.railway.app
VITE_DIRECTUS_URL=https://directus-production-5c4b.up.railway.app
# Telegram Client ID (отримати в BotFather → Bot Settings → Web Login)
VITE_TG_CLIENT_ID=
